<form class="d-flex" method="post" action="/listings/search" autocomplete="off">
    <div class="autocomplete">
        <input id="searchInput" name="title" class="form-control me-2 search-bar" type="search" placeholder="Search Destination">
    </div>
    <button class="btn search" type="submit"><i class="fas fa-search"></i>Search</button>
</form>